*
!tests
!tests/empty
!.gitignore
!sessions
!sessions/empty
!logs
!logs/error.log
!logs/empty
!cache
!cache/views
!cache/views/empty
!cache/models
!cache/models/myapp_cake_model_default_db_cake_posts
!cache/models/empty
!cache/models/myapp_cake_model_default_db_cake_list
!cache/persistent
!cache/persistent/myapp_cake_core_file_map
!cache/persistent/myapp_cake_core_default_en-us
!cache/persistent/myapp_cake_core_cake_dev_en-us
!cache/persistent/empty
!cache/persistent/myapp_cake_core_method_cache
!cache/persistent/myapp_cake_core_cake_en-us
